[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
python-twitter = "*"
sqlalchemy = {extras = ["asyncio"], version = "*"}
alembic = "*"
psycopg2 = "*"
"discord.py" = "*"
asyncpg = "*"

[requires]
python_version = "3.8"
