[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
python-twitter = "*"
sqlalchemy = "*"
alembic = "*"
psycopg2 = "*"

[requires]
python_version = "3.8"
